*{
  margin: 0;
  padding: 0; 
}

html, body {
  height: 100%;
}

body {
  background: url(header.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
} 

h1 {
  color: #FFFFFF;
  font: 900 96px 'Mr De Haviland', cursive;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 24px;

}

.btn{
  background: linear-gradient(45deg, rgba(137,144,217,1) 0%, rgba(219,148,123,0.56) 59%, rgba(219,148,123,0.25) 100%);
  border-radius: 4px;
  padding: 20px 48px;
  color: #FFFFFF;
  font: 20px 'Neuton', serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;

}

.btn:hover{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  float:left:
   
}


/*Navigation Style*/
 ul { list-style-type: block; 
    position: absolute; 
    top: 0px; 
    right: 0px;
    width: 100%;
    overflow: hidden; 
    z-index: 100; }
 
 ul li { display: inline; 
     float:right; }


 ul li a{ display: block; 
      color: #FFFFFF; 
      text-decoration: none; 
      text-transform: uppercase;
      text-align: center;
      padding: 8px 9px;
      top: 0px; 
      font-family:'Handlee', cursive;
      font-size: 18px; }
    
 ul li a:hover { color: #d5a090} 

